body
{
		background-color: #e5cf96;
}
h1,h2, h3
{
	font-family: century gothic;
	margin-right: 300px;
	margin-left: 300px;
	
}
p
{
	font-family: arial;
	margin-right: 35px;
	margin-left: 35px;
	text-align: justify;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
h1 :background-color
{
	margin-right: 30px;
	margin-left: 30px;
}
ul
{
	box-shadow: 10px 10px 25px;
}