body
{
		background-color: #e5cf96;
}
h1,h2, h3
{
	font-family: century gothic;
}
p
{
	font-family: arial;
	margin-right: 35px;
	margin-left: 35px;
	text-align: justify;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}